.promo {
  width: 100vw;
  min-width: 1366px;
  background-color: #fdfdfb;

  @media (max-width: $vp-1365) {
    min-width: 768px;
  }

  @media (max-width: $vp-767) {
    min-width: 320px;
  }
}

.promo__wrapper {
  width: 1366px;
  margin: 0 auto;
  padding: 236px 120px 236px 120px;
  background-image: url("../img/promo-background.png");
  background-repeat: no-repeat;
  background-position: 80% 0;

  @media (max-width: $vp-1365) {
    width: 100%;
    padding: 236px 60px 236px 60px;
    background-position: 100% 0;
  }

  @media (max-width: 980px) {
    background-position: 150% 0;
  }
}

.promo__title {
  font-size: 45px;
  line-height: 60px;
  margin: 0 0 16px 0;
}

.promo__subtitle {
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 39px 0;
}

.promo__description {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 64px 0;

  @media (max-width: $vp-1365) {
    width: 50vw;
  }
}

.promo__link {
  font-family: "Roboto", "Arial", sans-serif;
  display: inline-block;
  vertical-align: baseline;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 26px 38px 27px 38px;
  background-color: #444240;
  user-select: none;

  &:hover {
    background-color: #7d7c7b;
  }

  &:active {
    background-color: #7f6042;
  }
}
